<launch>
  <!-- 比赛测速时保持为false；需要RViz/测试窗口画面时再打开。 -->
  <arg name="enable_debug_image" default="false" />
  <!-- 开启后会进行XVID编码并写入磁盘，会增加每次服务调用耗时。 -->
  <arg name="enable_debug_video" default="true" />

  <node pkg="ros_nanodet"
        type="detect2026.py"
        name="nanodet_detect"
        output="screen">
    <param name="model_path"
           value="/home/ucar/ucar_ws_copy/src/ros_nanodet/src/nanodet-0.2.0/workspace/model2026/target_textbox_fp16.rknn" />
    <param name="ocr_model_path"
           value="/home/ucar/ucar_ws_copy/src/ros_nanodet/ocr/rknn_model_zoo/examples/PPOCR/PPOCR-Rec/model/ppocrv4_rec_fp16.rknn" />
    <param name="ocr_dict_path"
           value="/home/ucar/ucar_ws_copy/src/ros_nanodet/ocr/rknn_model_zoo/examples/PPOCR/PPOCR-Rec/model/ppocr_keys_v1.txt" />
    <param name="camera_device" value="/dev/video0" />
    <param name="score_threshold" value="0.50" />
    <param name="low_score_threshold" value="0.45" />
    <param name="nms_threshold" value="0.60" />
    <param name="flip_horizontal" value="true" />
    <param name="warmup_count" value="3" />
    <param name="ocr_warmup_count" value="1" />
    <param name="enable_debug_image" value="$(arg enable_debug_image)" />
    <param name="enable_debug_video" value="$(arg enable_debug_video)" />
    <param name="debug_video_fps" value="3.0" />
    <param name="debug_video_path"
           value="/home/ucar/ucar_ws_copy/src/ucarmain2026/nanodet_debug/nanodet_textbox.avi" />
  </node>
</launch>